<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center" color="light">About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<p class="paraStyle">The news feed app is built using ionic 4/angular. It also portrays the use of native plugins like ionic-storage, ionic-network, etc.</p>
<P class="paraStyle">The app loads news when you are connected to the internet and saves them into using ionic-storage plugin onto your device's storage. This storage uses a dedicated database for the news feed app, that means, you can now view your news feeds when you are offline. This data does not flush away when your operating system decides to free up some memory. The only way you clear the saved feeds is that, you manually clear app data or uninstall the app itself.</P>
<p class="paraStyle">If you like my work, please <b><a href="https://github.com/sameer1670/News-Feeds-mobile-app">my github repository</a></b> and add a star :)</p>
</ion-content>
