<ion-tabs>

  <ion-tab-bar slot="bottom" class="theme">
    <ion-tab-button tab="featured-news">
      <ion-icon name="star"></ion-icon>
      <ion-label>Featured</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="news">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Trending</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="about">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
