ion-content{
    --ion-background-color: black;
}
ion-header{
    --ion-toolbar-background: #383a3e;
    --ion-font-family: "Century Old Style";
}

ion-refresher{
    background: #383a3e;
}
/*ion-refresher * {
    background-color: green;
    ion-refresher-content * {
      icon * {
        color: #dd2727;
      }
      color: red;
        .refresher-refreshing {
          .refresher-pulling-icon, .refresher-refreshing-icon {
            text-align: center;
            -webkit-transform-origin: center;
            transform-origin: center;
            font-size: 30px;
            color: $refresher-icon-color;
            -webkit-transition: 200ms;
            transition: 200ms;
          }
        }
    }
  }*/

.fontStyle{
    font-family: "Century Old Style";
    font-weight: bold;
    color: whitesmoke;
    font-size: 0.9em;
}
.cardTheme{
    background-color: #383a3e;
    border: 1px solid wheat;
}

.imageStyle{
    //height: 50px;
    //width: 50px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
  }
  
.column {
float: left;
width: 50%;
padding: 5px;
}
.card-content-md{
    padding-left: unset;
    padding-right: unset;
}